html {
    background-color: #525252;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
}

#topBar {
    width: 87%;
    height:10%;
    position: fixed;
    top: 0%;
    left:0%;
    background-color: #4e4d4d;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.5);
}

a {
    color:rgb(30, 218, 224);
}

a:hover {
    color: cyan;
}

/*a:visited {
    color: blue;
}*/

#pg1Button {
    position: fixed;
left: 26%;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
top: 1.5%;
bottom: 92.33%;
width:10%;
height: 5.2%;
background: #D8D8D8;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
border-radius: 16px;
}

#pg2Button {
    position: fixed;
    left: 38%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    top: 1.5%;
    bottom: 92.33%;
    width:10%;
    height: 5.2%;
    background: #D8D8D8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

#pg3Button {
      position: fixed;
left: 50%;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;

top: 1.5%;
bottom: 92.33%;
width:10%;
height: 5.2%;
background: #D8D8D8;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
border-radius: 16px;
}

#progress {
    position: fixed;
    top:15%;
    left:5%;
}

#calendar {
    background-color: #1a1a1a;
    width: 23%;
    height: 100%;
    position:absolute;
    top: 0%;
    right:0%;
    color: #FFFFFF;
}

#events {
    background-color: rgb(30, 218, 224);
    width: 21%;
    height: 30%;
    position: absolute;
    top: 33%;
    border-radius: 30px;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.5);
}
#eventsLabel {
    position: relative;
    top: -12%;    
}

#progressBar {
    width:12%;
    height:6%;
    position: fixed;
    top:18%;
    left:5%;
}

#toDoList {
    background-color: #1a1a1a;
    width: 20%;
    height: 48%;
    font-size: 50px;
    
    position: absolute;
    top: 15%;
    left: 25%;
    color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.5);
}

#quickLinks {
    position: absolute;
    top: 12%;
    left: 48%;
}

#block1 {
    background-color: #1a1a1a;
    width: 30%;
    height: 25%;
    position: absolute;
    top: 70%;
    border-radius: 30px;
    font-size: 50px;
    color: #FFFFFF;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.5);
}   

#block2 {
    background-color: rgb(30, 218, 224);
    width: 30%;
    height: 25%;
    position: absolute;
    border-radius: 30px;
    top: 70%;
    left:34%;
    color: #ffffff;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.5);
}

#quickLinks{
    
    width: 50%;
    height: 25%;
    position: absolute;
    top: 20%;
    border-radius: 30px;
    font-size: 25px;
    color: #FFFFFF;
    
}

.container {
    position: fixed;
    max-width: 400px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    /* Adding borders around components */
    padding: 30px;
    border-radius: 20px;
    background-color: black;
  }